<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>
        <title>歡迎光臨</title>
        <style>
            body {position: relative; height: 100vh; margin: 0;}
            .header {width: 100%; text-align: center; background-color: beige; padding: 15px 0; font-size: 20px; position: absolute; top: 0;}
            .content {position: absolute; top: 17%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
        </style>
    </head>
    <body>
        <div class="header">失敗頁面</div>
        <div class="content">
            <p style="font-size: 20px; margin-bottom: 10px;">{{ message }}</p>
            <a href="/" style="font-size: 20px;">返回首頁</a>
        </div>
    </body>
</html>
