/*-----------------desktop css----------------*/
body {
    width: 100%;
    padding: 0;
    margin: 0;
}
#desktop .navbar{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#desktop .title{
    flex:none;
    width: 50%;
    text-align: left;
    font-weight: bold;
}
#desktop .menu{
    flex:none;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#desktop .item{
    flex:none;
    width: 60px;
    text-align: center;
    margin-left: 30px;
}
#desktop .welcome{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: rgb(200, 234, 243);
}
#desktop .welcometext{
    flex:auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#desktop .content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 510px;
    display: grid;
    grid-template-columns: 183.333px 183.333px 183.333px 183.333px 183.333px 183.333px;
    grid-template-rows: 50px 210px 210px;
    gap: 20px;
    grid-template-areas:
    " promotion0 promotion0 promotion1 promotion1 promotion2 promotion2 "
    " title0 title0 title1 title2 title3 title4 "
    " title5 title5 title6 title7 title8 title9 ";
}
#desktop .dp0{
    grid-area: promotion0;
    background-color: rgb(200, 234, 243);
    position: relative;
}
#desktop .dp1{
    grid-area: promotion1;
    background-color: rgb(200, 234, 243);
    position: relative;
}
#desktop .dp2{
    grid-area: promotion2;
    background-color: rgb(200, 234, 243);
    position: relative;
}
#desktop .dt0{
    grid-area: title0;
    position: relative;
}
#desktop .star{
    position: absolute;
    top:10px;
    right:10px;
    opacity: 0.8;
}
#desktop .title1{
    width: 386.666px;
    height: 30px;
    position: absolute;
    bottom:0;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(227, 238, 165);
    opacity: 0.6;
}
#desktop .title2{
    width: 183.333px;
    height: 30px;
    position: absolute;
    bottom:0;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(227, 238, 165);
    opacity: 0.6;
}
#desktop .dt1{
    grid-area: title1;
    position: relative;
}
#desktop .dt2{
    grid-area: title2;
    position: relative;
}
#desktop .dt3{
    grid-area: title3;
    position: relative;
}
#desktop .dt4{
    grid-area: title4;
    position: relative;
}
#desktop .dt5{
    grid-area: title5;
    position: relative;
}
#desktop .dt6{
    grid-area: title6;
    position: relative;
}
#desktop .dt7{
    grid-area: title7;
    position: relative;
}
#desktop .dt8{
    grid-area: title8;
    position: relative;
}
#desktop .dt9{
    grid-area: title9;
    position: relative;
}